<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
  <div class="content">
    <div class="title">
      <span class="url">
        <span style="--color:#fa7c49">U</span>
        <span style="--color:#fccf31">R</span>
        <span style="--color:#2575fc">L</span>
      </span>
      <span> Shortener</span>
    </div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="Exported Content" class="image">
    
    {{{body}}}
  </div>
</body>
</html>